@charset "utf-8";
body {
    background-image: url(../images/bg2.jpg);
    font-size: 14px;
}

#loginForm {
    width: 380px;
    height: 230px;
    background-color: beige;
    margin: 200px auto;
    padding-top: 30px;
    border: 1px solid #ccc;
    border-radius: 1em;
}

#loginForm p {
    text-indent: 45px;
}

#userName,
#password,
#vcode {
    height: 30px;
    border: 1px solid #ccc;
    text-indent: 24px;
}

#userName {
    width: 280px;
    background-image: URL(../images/uses.png);
    background-repeat: no-repeat;
    background-position: 2px center;
}

#password {
    width: 280px;
    background-image: URL(../images/lock.png);
    background-repeat: no-repeat;
    background-position: 2px center;
}

#vcode {
    background-image: URL(../images/lock.png);
    background-repeat: no-repeat;
    background-position: 2px center;
}

#vcodeImg {
    cursor: pointer;
    border: 0;
    height: 30px;
    vertical-align: middle;
}

#btLogin {
    width: 280px;
    height: 35px;
    background-color: rgb(19, 19, 206);
    color: #fff;
    font-weight: bold;
}
span{
	font-size: 12px;
	color:blue;
}