<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" metadata-complete="true" version="3.1">
  <servlet>
    <description></description>
    <display-name>CreateImageServlet</display-name>
    <servlet-name>CreateImageServlet</servlet-name>
    <servlet-class>login.servlet.CreateImageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateImageServlet</servlet-name>
    <url-pattern>/CreateImageServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DownloadServlet</display-name>
    <servlet-name>DownloadServlet</servlet-name>
    <servlet-class>login.servlet.DownloadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadServlet</servlet-name>
    <url-pattern>/DownloadServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserNameServlet</display-name>
    <servlet-name>UserNameServlet</servlet-name>
    <servlet-class>login.servlet.UserNameServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserNameServlet</servlet-name>
    <url-pattern>/UserNameServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmailServlet</display-name>
    <servlet-name>EmailServlet</servlet-name>
    <servlet-class>login.servlet.EmailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmailServlet</servlet-name>
    <url-pattern>/EmailServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddServlet</display-name>
    <servlet-name>AddServlet</servlet-name>
    <servlet-class>login.servlet.AddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddServlet</servlet-name>
    <url-pattern>/AddServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetDownloadListServlet</display-name>
    <servlet-name>GetDownloadListServlet</servlet-name>
    <servlet-class>login.servlet.GetDownloadListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetDownloadListServlet</servlet-name>
    <url-pattern>/GetDownloadListServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>login.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResourceChangeServlet</display-name>
    <servlet-name>ResourceChangeServlet</servlet-name>
    <servlet-class>login.servlet.ResourceChangeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResourceChangeServlet</servlet-name>
    <url-pattern>/ResourceChangeServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TologoutServlet</display-name>
    <servlet-name>TologoutServlet</servlet-name>
    <servlet-class>login.servlet.TologoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TologoutServlet</servlet-name>
    <url-pattern>/TologoutServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserHomeServlet</display-name>
    <servlet-name>UserHomeServlet</servlet-name>
    <servlet-class>login.servlet.UserHomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserHomeServlet</servlet-name>
    <url-pattern>/UserHomeServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserChangeServlet</display-name>
    <servlet-name>UserChangeServlet</servlet-name>
    <servlet-class>login.servlet.UserChangeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserChangeServlet</servlet-name>
    <url-pattern>/UserChangeServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AjaxLoginServlet</display-name>
    <servlet-name>AjaxLoginServlet</servlet-name>
    <servlet-class>login.servlet.AjaxLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjaxLoginServlet</servlet-name>
    <url-pattern>/AjaxLoginServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectUserServlet</display-name>
    <servlet-name>SelectUserServlet</servlet-name>
    <servlet-class>login.servlet.SelectUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectUserServlet</servlet-name>
    <url-pattern>/SelectUserServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DelUserServlet</display-name>
    <servlet-name>DelUserServlet</servlet-name>
    <servlet-class>login.servlet.DelUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelUserServlet</servlet-name>
    <url-pattern>/DelUserServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteAllServlet</display-name>
    <servlet-name>DeleteAllServlet</servlet-name>
    <servlet-class>login.servlet.DeleteAllServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteAllServlet</servlet-name>
    <url-pattern>/DeleteAllServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindUserByIDServlet</display-name>
    <servlet-name>FindUserByIDServlet</servlet-name>
    <servlet-class>login.servlet.FindUserByIDServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindUserByIDServlet</servlet-name>
    <url-pattern>/FindUserByIDServlet.do</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>UpdateUserByIDServlet</display-name>
    <servlet-name>UpdateUserByIDServlet</servlet-name>
    <servlet-class>login.servlet.UpdateUserByIDServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateUserByIDServlet</servlet-name>
    <url-pattern>/UpdateUserByIDServlet.do</url-pattern>
  </servlet-mapping>
  
  <filter>
    <filter-name>QuanxianFilter</filter-name>
    <filter-class>login.filter.QuanxianFilter</filter-class>
    <init-param>
      <param-name>notCheckPath</param-name>
      <param-value>/CreateImageServlet.do,/LoginServlet.do,/TologoutServlet.do,
      /login/login.jsp,/login/error.jsp,/login/main.jsp
      /GetDownloadListServlet.do,/DownloadServlet.do
      /UserHomeServlet.do,/AjaxLoginServlet.do,
      /login/login/AddServlet.do,/login/login/UserNameServlet.do,
       /login/login/EmailServlet.do,/login/register.jsp</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>QuanxianFilter</filter-name>
    <url-pattern>*.do</url-pattern>
    <url-pattern>*.jsp</url-pattern>
  </filter-mapping>
</web-app>